.calendar {
  margin: auto;
  padding-bottom: 20px;

  .panel {
    padding-bottom: 30px;
  }
}
.calendar-header {
  padding-bottom: 10px;
  flex-basis: 14%;
}
.calendar-item {
  border: dotted 1px $colour-2-light;
  flex-basis: 14%;
  min-height: 80px;
  background-color: #fff;

  .day {
    font-size: 2.5rem;
  }

  .item {
    color: $calendar-item-text;
  }
  
  &.today {
    font-weight: 400;
    color: #fff;
    border: solid 1px $calendar-today-border;
    background-color: $calendar-today-background;

    .item {
      font-weight: 200;
      color: #fff;
    }
  }

  &.different-month {
    background-color: $light-gray;
    color: $dark-gray;
  }

  &.selected {
    border: solid 1px $colour-1-light;
    background-color: $colour-1-light;
  }

}

@media (max-width: $screen-md-min) {
  .calendar-flex {
    font-size: .95rem;

    .calendar-item {
      font-size: .90rem;
    }
  }
}
