$body-bg: #fbfbfb;
$line-height-base: 1.57142857;
$link-color: #1d7cf4;
$link-hover-decoration: none;

$brand-success: #29b35b;
$brand-danger: #b61b17;

$font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;

$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-text-1-light: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: #b61b17;
$alert-danger-text: #b61b17;
$alert-danger-bg: #ffcdd2;

$panel-heading-padding: 20px 30px;
$panel-body-padding: 30px;

$colour-1-light : #BBE4F1;
$colour-2-light : #99D6EA;
$colour-3-mid   : #5BC2E7;
$colour-4-mid   : #0099D8;
$colour-5-main  : #0078C8;
$colour-6-dark  : #0067C0;
$colour-7-dark  : #0057B8;


// branding //
$light-blue-1   : #C3E0E5;
$light-blue-2   : #5885AF;
$mid-blue       : #41729F;
$dark-blue      : #274472;
$light-gray     : #f0f0f0;
$mid-gray       : #f5f5f5;
$dark-gray      : #e0e0e0;
$light-orange   : #f5683d;
$mid-orange     : #f35626;
$dark-orange    : #da3c0b;
$light-yellow   : #febf67;
$mid-yellow     : #feab3a;
$dark-yellow    : #fe9501;
$light-green    : #00cc00;
$mid-green      : #17a717;
$dark-green     : #008000;
$light-black    : #636363;
$mid-black      : #4f4f4f;
$dark-black     : #383838;
$light-pink     : #ff25ff;
$mid-pink       : #c2185b;
$dark-pink      : #600080;


$top-fix-header-background  : $mid-blue;
$custom-badge               : $light-blue-2;
$loading-icon               : $mid-pink;

$nav-background                   : $dark-blue;
$navbar-height                    : 56px;
$navbar-default-bg                : $light-gray;
$navbar-default-border            : $light-blue-2;
$navbar-default-color             : $light-gray;
$navbar-default-link-color        : #262626;
$navbar-default-link-hover-bg     : transparent;
$navbar-default-link-active-bg    : transparent;
$navbar-default-link-active-color : #262626;
$nav-side-menu-background-hover   : $light-blue-2;
$nav-side-menu-text-hover         : $light-gray;
$nav-side-menu-sub-menu           : $light-blue-2;
$nav-side-menu-sub-menu-hover     : $mid-blue;
$nav-side-menu-active             : $mid-blue;
$nav-side-menu-sub-menu-active    : $mid-blue;

$calendar-today-background  : $dark-blue;
$calendar-today-border      : $dark-blue;
$calendar-item-text         : $mid-pink;

$header-bg: $light-gray;
$footer-bg: $light-gray;
.green-gradient {
  background: $mid-green; /* Old browsers */
  background-image: -moz-linear-gradient(left, $dark-green 0%, $light-green 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, $dark-green), color-stop(100%, $light-green));
  background-image: -webkit-linear-gradient(left, $dark-green 0%, $light-green 100%);
  background-image: -o-linear-gradient(left, $dark-green 0%, $light-green 100%);
  background-image: -ms-linear-gradient(left, $dark-green 0%, $light-green 100%);
  background-image: linear-gradient(to right, $dark-green 0%, $light-green 100%);
}
.orange-gradient {
  background: $mid-orange; /* Old browsers */
  background-image: -moz-linear-gradient(left, $dark-orange 0%, $light-orange 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, $dark-orange), color-stop(100%, $light-orange));
  background-image: -webkit-linear-gradient(left, $dark-orange 0%, $light-orange 100%);
  background-image: -o-linear-gradient(left, $dark-orange 0%, $light-orange 100%);
  background-image: -ms-linear-gradient(left, $dark-orange 0%, $light-orange 100%);
  background-image: linear-gradient(to right, $dark-orange 0%, $light-orange 100%);
}
.blue-gradient {
  background-image: $dark-blue;
  background-image: -moz-linear-gradient(left, $dark-blue 0%, $light-blue-1 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, $dark-blue), color-stop(100%, $light-blue-1));
  background-image: -webkit-linear-gradient(left, $dark-blue 0%, $light-blue-1 100%);
  background-image: -o-linear-gradient(left, $dark-blue 0%, $light-blue-1 100%);
  background-image: -ms-linear-gradient(left, $dark-blue 0%, $light-blue-1 100%);
  background-image: linear-gradient(to right, $dark-blue 0%, $light-blue-1 100%);
}
.pink-gradient {
  background-image: $dark-pink;
  background-image: -moz-linear-gradient(left, $dark-pink 0%, $light-pink 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, $dark-pink), color-stop(100%, $light-pink));
  background-image: -webkit-linear-gradient(left, $dark-pink 0%, $light-pink 100%);
  background-image: -o-linear-gradient(left, $dark-pink 0%, $light-pink 100%);
  background-image: -ms-linear-gradient(left, $dark-pink 0%, $light-pink 100%);
  background-image: linear-gradient(to right, $dark-pink 0%, $light-pink 100%);
}
.black-gradient {
  background-image: $dark-black;
  background-image: -moz-linear-gradient(left, $dark-black 0%, $light-black 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, $dark-black), color-stop(100%, $light-black));
  background-image: -webkit-linear-gradient(left, $dark-black 0%, $light-black 100%);
  background-image: -o-linear-gradient(left, $dark-black 0%, $light-black 100%);
  background-image: -ms-linear-gradient(left, $dark-black 0%, $light-black 100%);
  background-image: linear-gradient(to right, $dark-black 0%, $light-black 100%);
}
.gray-gradient {
  background: $body-bg;
  background: -moz-linear-gradient(left, $mid-gray 0%, $body-bg 100%);
  background: -webkit-linear-gradient(left, $mid-gray 0%,$body-bg 100%);
  background: linear-gradient(to right, $mid-gray 0%,$body-bg 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fbfbfb',GradientType=1 );
}
.clip-settings {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-bg {
  background: $body-bg;
}
