@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2') format('woff2'), 
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@import "vendor/bootstrap";
@import "vendor/font-awesome";
@import "colours";
@import "sidebar";
@import "carousel";
@import "table";
@import "button";
@import "flex";
@import "calendar";
@import "timesheet";
@import "data-maintenance";

.font-family {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

// Scaffolding
// -------------------------
html {
  position: relative;
  min-height: 100%;
  width: 100%;
}
body {
  width: 100%;
  margin-bottom: 44px;
  @extend .body-bg;
  @extend .font-family;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: $footer-bg;
  // border-top: 1px solid #e0e0e0;
  span {
    vertical-align: middle;
  }
}
a {
  color: $dark-blue;
  &:hover {
    color: $mid-blue;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.no-padding {
  padding: 0;
}
.box-shadow {
  -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
}
.hover-element-shadow {
  -webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
}
// Dropdowm menu
// -------------------------
.dropdown-menu {
  min-width: inherit;
  border-radius: 0;
}
// Modals
// -------------------------
.modal-content {
  border-radius: 15px;
  background-color: $body-bg;
}
.modal-body {
  background-color: #fff
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
// Alerts
// -------------------------
.alert {
  border-width: 0 0 0 3px;
  border-radius: 15px;
}

.badge-custom {
  font-weight: normal;
  height: 35px;
  padding-top: 12px;
  border-radius: 35px;
  background-color: $custom-badge;
  @extend .btn-date;
}

.badge {
  &.dashboard {
    width: 160px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    background-color: $mid-blue;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

// List
// -------------------------
.list-icon {
  padding: 10px 5px;
}
.list-records {
  border-top: solid 1px $dark-gray;
  padding: 18px 5px;
}
.last-item {
  border-bottom: solid 1px $dark-gray;
}

// Panels
// -------------------------
.panel {
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
.panel-heading {
  padding: 10px 15px 0 15px;
}
.panel-body {
  padding: 0 15px 10px 15px;
}
.panel-title {
  font-size: 2rem;
  font-weight: 200;
}
.panel-body-content {
  font-size: 2.5rem;
}
.percentage {
  font-size: 1.2rem;
}
.well {
  background-color: #fff;
  border: none;
  // border-color: solid 1px $light-gray;
  // margin-bottom: 2px;
  padding: 0;
}
.label {
  padding: .2em .4em;
  font-weight: inherit;
  font-size: inherit;
}
.label-success {
  background-color: $dark-green;
}
.label-warning {
  background-color: $dark-yellow;
}
// Forms
// -------------------------
input[type="checkbox"] {
  margin: 14px 0 0;
}
textarea {
  resize: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;  /* Firefox 1-3.6 */
  border-radius: 0;
}
.form-control {
  height: 40px;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}
.form-group label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  margin-top: 12px;
}
.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.is-enabled {
  color: $dark-blue;
}
.is-disabled {
  color: $dark-gray;
}
.is-unpaid {
  background-color: $dark-orange;
}
.is-paid {
  background-color: $dark-green;
}
.table-cursor, .panel-cursor {
  @extend .cursor-pointer;
}
.loading {
  color: $loading-icon;
}
.field-required {
  border-color: $dark-orange;
}
.padding {
  padding: 15px;
}
.padding-top-bottom {
  padding: 15px 0;
}
.padding-bottom {
  padding-bottom: 15px;
}
// datepicker - updates
// -------------------------
.ui-datepicker {
  select.ui-datepicker-month, select.ui-datepicker-year {
    width: auto;
    padding: 0 5px;
  }
}
.search-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
  border-bottom: solid 1px $dark-yellow;
  background-color: transparent;
}
.table > tbody > tr > .td-no-padding {
  @extend .no-padding;
  span {
    font-weight: 200;
    font-size: 10px;
  }
}
.column-action {
  width: 110px;
}
// fix to display the list of google search addresses, when using modal
.pac-container {
  position: fixed !important;
  display: block;
  z-index: 1051;
}
.ng-invalid, .ng-invalid-required {
  border-color: $alert-danger-border;
}
.fixed-row {
  color: $dark-black;
  h5 {
    font-weight: 300;
  }
}
.login-container {
  .panel {
    padding: 15px 5px;
  }
}
@media (min-width: 767px) {
  .padding-top-bottom {
    padding: 0;
  }
  .custom-slide {
    width: 50%;
    float: left;
    display: block;
  }
  .cancel {
    @extend .custom-slide;
    background-color: $dark-orange;
  }
  .confirm {
    @extend .custom-slide;
    background-color: $dark-green;
  }
  #main {
    margin-top: 58px;
    margin-bottom: 44px;
  }
  .custom-container{
    width:calc(100% - 200px);
    float: right;
  }
  .fixed-row {
    border-bottom: 1px solid $dark-gray;
    color: #fff;
    position: fixed;
    top: 0;
    width: calc(100% - 200px);
    height: 51px;
    padding-top: 8px;
    background-color: $top-fix-header-background;
    z-index: 10;
  }
}
