<div ng-controller="MenuCtrl" class="nav-side-menu">
    <div class="brand">
      <span ng-if="!isAuthenticated()" class="navbar-logo text-center">
        <img ng-src="{{state.app.logo}}" alt="{{state.app.alt}}" title="{{state.app.title}}" width="{{state.app.width}}" height="{{state.app.height}}">
      </span>      
      <span ng-if="isAuthenticated()" class="navbar-avatar">
        <img ng-src="{{currentUser.picture || currentUser.gravatar}}">  {{currentUser.name || currentUser.email || currentUser.id}}
      </span>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" ng-if="isAuthenticated()" class="menu-content collapse out">
        <li ng-click="goToLocation('main')"><i class="fa fa-dashboard fa-lg"></i>Dashboard</li>
        <li data-toggle="collapse" data-target="#setup" class="collapsed">
          <i class="fa fa-cogs fa-lg"></i>Setup <span class="arrow"></span>
          <ul class="sub-menu collapse" id="setup">
            <li ng-click="goToLocation('all-banks')">Banks</li>
            <li ng-click="goToLocation('all-users')">Users</li>
            <li ng-click="goToLocation('all-expenses-type')">Expenses Type</li>
            <li ng-click="goToLocation('all-transactions-type')">Transactions Type</li>
            <li ng-click="goToLocation('populate-database')">Populate DB</li>
            <li ng-click="goToLocation('account')">Profile</li>
            <li ng-click="goToLocation('data-maintenance')">Data Maintenance</li>
          </ul>
        </li>

        <ul>
          <li ng-click="getMonthlyPurchases()"><i class="fa fa-shopping-cart fa-lg"></i>Purchases</li>
          <li ng-click="getMonthlyTimesheet()"><i class="fa fa-clock-o fa-lg"></i>Timesheet</li>
          <li ng-click="getMonthlyTransactions()"><i class="fa fa-money fa-lg"></i>Transactions</li>
          <li ng-click="logout()"><i class="fa fa-sign-out fa-lg"></i>Logout</li>
        </ul>
      </ul>
      <ul id="menu-content" ng-if="!isAuthenticated()" class="menu-content collapse out text-center">
        <li ng-click="goToLocation('login')">Log in</li>
        <li ng-click="goToLocation('signup')">Sign up</li>
      </ul>
    </div>
</div>