<div class="container-fluid data-maintenance" ng-controller="DataMaintenanceCtrl as ctrl">
  <div class="row fixed-row" ng-include src="'components/top/top-view-new.html'"></div>
  <div class="row">
    <div class="col-sm-12">
      <section ng-include="'components/partials/messages.tpl.html'" ng-if="ctrl.status.errorView"></section>
      <section ng-show="!ctrl.status.noSettings">
        <div class="loading text-center" ng-show="ctrl.status.isLoading">
          <i ng-class="ctrl.settings.defaults.cssClassLoading"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="flex-wrap content-start switchViewButton">
              <div class="flex-wrap-item content-center align-center text-uppercase switchLabel">
                  <span ng-class="{ 'view-selected': ctrl.switchAlternate == 'calendar' }">{{::ctrl.state.switchBtn.calendar}}</span>
              </div>
              <div class="flex-wrap-item content-center align-center">
                <span class="toggle-bg toggle-alternate on">
                  <input type="radio" name="toggle" value="calendar" ng-model="ctrl.switchAlternate" ng-click="changeView('dataMaintenanceView','calendar')">
                  <input type="radio" name="toggle" value="list" ng-model="ctrl.switchAlternate" ng-click="changeView('dataMaintenanceView','list')">
                  <span class="switch {{ctrl.switchAlternate}}"></span>
                </span>
              </div>
              <div class="flex-wrap-item content-center align-center text-uppercase switchLabel">
                <span ng-class="{ 'view-selected': ctrl.switchAlternate == 'list' }">{{::ctrl.state.switchBtn.list}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" ng-if="ctrl.switchAlternate == 'list'">
            <div class="row select-period">
              <div class="col-xs-12 col-md-6 col-md-push-3">
                <div class="padding-bottom text-center">
                  <a class="btn btn-default" ng-click="previous()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                  <a class="btn btn-default btn-date" ng-click="currentMonth()" title="Current Month"><i class="fa fa-calendar"></i> {{::displayCurrentMonth}}</a>
                  <a class="btn btn-default" ng-click="next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div ng-if="!transactions.length">
              <h3 class="alert alert-danger text-center">{{::ctrl.state.settings.component.defaults.message.notFound}}</h3>
            </div>
            <div ng-if="transactions.length">
              <div id="no-more-tables">
                <table class="table table-responsive table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Bank</th>
                      <th>Label</th>
                      <th>Transaction</th>
                      <th>Comments</th>
                      <th>Total</th>
                      <th class="text-center">Remove</th>
                    </tr>
                  </thead>
                  <tbody class="text-lowercase">
                    <tr ng-repeat="item in transactions | orderBy: '-transactionDate'">
                      <td data-title="Date">{{::item.transactionDate | date: 'dd/MM/yyyy'}}</td>
                      <td data-title="Bank">{{::item.bankDescription}}</td>
                      <td data-title="Label" class="text-uppercase">{{::item.transactionLabel}}</td>
                      <td data-title="Transaction">{{::item.transactionTypeDescription || 'Purchases'}}</td>
                      <td data-title="Comments">{{::item.transactionComments}}</td>
                      <td data-title="Total">$ {{::item.transactionAmount | number:2}}</td>
                      <td data-title="Remove" class="text-center">
                        <button class="btn btn-link" title="Delete" ng-click="ctrl.modalDeleteRecord(item)"><i class="fa fa-trash fa-lg icon-delete"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12" ng-show="ctrl.switchAlternate == 'calendar'">
            <calendar-widget selected="day"></calendar-widget>
          </div>
        </div>
        <div ng-include src="'components/modal/modal-view-new.html'"></div>
      </section>
    </div>
  </div>
</div>
