<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5 ng-class="state.settings.defaults.cssClassModalTitle" id="myModalLabel" ng-bind="state.modal.title"></h5>
</div>
<form name="standardForm" ng-submit="customSearchForm(standardForm.$valid)" class="form-horizontal">
  <div class="modal-body">
    <section ng-include="'components/partials/messages.tpl.html'" ng-if="state.status.errorSearch"></section>
    <div class="row row-flex row-flex-wrap">
      <div class="flex-col col-sm-8">
        <div class="form-group">
          <label for="dateStart" class="col-sm-3">Start Date</label>
          <div class="col-sm-9">
            <input type="text" name="dateStart" id="dateStart" class="form-control" ng-model='data.customSearch.from' calendar required  autocomplete="off"/>
          </div>
        </div>
        <div class="form-group">
          <label for="dateEnd" class="col-sm-3">End Date</label>
          <div class="col-sm-9">
            <input type="text" name="dateEnd" id="dateEnd" class="form-control" ng-model='data.customSearch.to' calendar required  autocomplete="off"/>
          </div>
        </div>
        <div class="form-group">
          <label for="expenseType" class="col-sm-3">Expense Type</label>
          <div class="col-sm-9">
            <div class="loading text-center" ng-show="state.status.isLoadingExpensesType">
              <i ng-class="state.settings.defaults.cssClassLoading"></i>
              <span class="sr-only">Loading...</span>
            </div>
            <select name="purchasesMultipleSelect" id="expenseType" class="form-control text-uppercase" ng-model="data.customSearch.expenseType" multiple
            ng-options="type.id as type.expenseTypeDescription for type in data.expensesType | orderBy:'expenseTypeDescription'">
            </select>
          </div>
        </div>
      </div>
      <div class="flex-col col-sm-4  content-center">
        <div class="icon-educational">
          <div class="text-center"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" id="closeModal" class="btn btn-primary">Search</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
