<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5 ng-class="state.settings.defaults.cssClassModalTitle" id="myModalLabel" ng-bind="state.modal.title || 'Add Purchase'"></h5>
</div>
<form name="standardForm" ng-submit="savePurchase(standardForm.$valid)" class="form-horizontal" novalidate ng-if="!state.isNull && !state.noSettings">
  <div class="modal-body">
    <section ng-include="'components/partials/messages.tpl.html'" ng-if="state.status.errorAdd"></section>
    <div class="row row-flex row-flex-wrap">
        <div class="flex-col col-sm-8">
          <div class="form-group">
            <label for="address" class="col-sm-4">Location</label>
            <div class="col-sm-8">
              <search-places ng-model="data.form.purchaseAddress" latitude="data.form.latitude" longitude="data.form.longitude" ng-disabled="data.form.fieldDisabled"></search-places>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseDate" class="col-sm-4">Date</label>
            <div class="col-sm-8">
              <input type="text" name="purchaseDate" id="purchaseDate" class="form-control" ng-model='data.form.purchaseDate' calendar required  autocomplete="off"/>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseBank" class="col-sm-4">Bank</label>
            <div class="col-sm-8">
              <div class="loading text-center" ng-show="state.status.isLoadingBanks">
                <i ng-class="state.settings.defaults.cssClassLoading"></i>
                <span class="sr-only">Loading...</span>
              </div>
              <span ng-if="data.banks.length == 0" class="text-danger">{{::state.settings.component.defaults.message.notFound}}</span>
              <select name="purchaseBank" id="purchaseBank" class="form-control text-uppercase" ng-model="data.form.purchaseBank" required
                ng-options="bank.id as bank.bankDescription + ' - $' + bank.bankCurrentBalance for bank in data.banks" ng-disabled="data.banks.length == 0"
                ng-change="remainingAmount(data.form.purchaseBank)">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseExpenseId" class="col-sm-4">Expense</label>
            <div class="col-sm-8">
              <div class="loading text-center" ng-show="state.status.isLoadingExpensesType">
                <i ng-class="state.settings.defaults.cssClassLoading"></i>
                <span class="sr-only">Loading...</span>
              </div>
              <span ng-if="data.expensesType.length == 0" class="text-danger">{{::state.settings.component.defaults.message.notFound}}</span>
              <select name="purchaseExpenseId" id="purchaseExpenseId" class="form-control text-uppercase" ng-model="data.form.purchaseExpenseId" required
                ng-options="expense.id as expense.expenseTypeDescription for expense in data.expensesType" ng-disabled="data.expensesType.length == 0">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseComments" class="col-sm-4">Comments</label>
            <div class="col-sm-8">
              <textarea name="purchaseComments" id="purchaseComments" class="form-control" ng-model="data.form.purchaseComments" rows="3" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseAmount" class="col-sm-4">Amount</label>
            <div class="col-sm-8">
              <input type="text" name="purchaseAmount" id="purchaseAmount" class="form-control" ng-model="data.form.purchaseAmount"
                ng-change="remainingAmount(data.form.purchaseBank)" format="number" required autocomplete="off">
              <span>Remaining amount:<strong class="clip-settings black-gradient">{{data.remainingAmount | number: 2}}</strong></span>
            </div>
          </div>
        </div>
        <div class="flex-col col-sm-4 text-center content-center">
          <div class="text-center">
            <div class="icon-defaults"><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i></div>
          </div>
          <div class="padding-top-bottom"><h4>"To keep it simple, save money by maintaining motivation and discipline"</h4></div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Insert</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
